// В этом файле должны быть стили для БЭМ-блока feedback-form, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.feedback-form {

  $block-name:                &; // #{$block-name}__element

  &__title {
    position: relative;
    font-weight: bold;
    font-size: 20px;
    line-height: 30px;
    color: #FFF;
    margin-bottom: 30px;

    @media (min-width: $screen-xxl) {
      font-size: 24px;
      line-height: 30px;
    }
  }
  &__row {
    display: flex;
    flex-wrap: wrap;
  }
  &__group {
    flex: 0 0 100%;
    @media (min-width: $screen-md) {
      flex: 0 0 50%;
      &:nth-child(1) {
        padding-right: 40px;
      }
      &:nth-child(2) {
        padding-left: 40px;
      }
    }
    @media (min-width: $screen-xl) {
      flex: 0 0 100%;
      &:nth-child(1) {
        padding: 0;
      }
      &:nth-child(2) {
        padding: 0;
      }
    }
  }
  &__field {
    position: relative;
    margin-bottom: 30px;
    height: 60px;
    width: 100%;

    input {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      border: none;
      border-bottom: 1px solid #fff;
      background: transparent;
      padding: 15px 0;
      border-radius: 0;
      box-sizing: border-box;
      outline: none;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;

      &:focus {
        border-color: #FFEE32;
      }
      &:focus ~ span,
      &:valid ~ span {
        transform: translateY(-5px);
        padding: 0;
      }
    }
    span {
      position: absolute;
      top: 0;
      left: 0;
      padding: 15px 0;
      font-weight: bold;
      font-size: 16px;
      line-height: 20px;
      color: #FFFFFF;
      transition: 0.5s;
      pointer-events: none;
    }
  }
}
