// В этом файле должны быть стили для БЭМ-блока top-section, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.top-section {

  $block-name:                &; // #{$block-name}__element

  height: 100vh;
  position: relative;
  min-height: 700px;

  @media (max-width: ($screen-md - 1)) {
    max-height: 700px;
  }

  .wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &__sticky-btn {
    bottom: 80px;
  }
  &__img {
    @media (max-width: ($screen-md - 1)) {
      display: none;
    }
    img {
      position: absolute;
      width: 380px;
      z-index: -1;
      @media (max-width: ($screen-xl - 1)) {
        right: -100%;
        top: 50%;
        transform: translateY(-50%);
      }
      @media (min-width: $screen-xl) {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 737px;
      }
      @media (min-width: $screen-xxl) {
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 737px;
      }
    }
  }
  &__info {
    flex-grow: 1;
    padding: 150px 0 0 0;

    @media (max-width: ($screen-xl - 1)) {
      position: relative;
    }

    &.info-agency {
      @media (min-width: $screen-md) {
        max-width: 430px;
      }
      @media (min-width: $screen-xxl) {
        max-width: 552px;
      }
    }
    &.info-services {
      @media (min-width: $screen-md) {
        max-width: 326px;
      }
      @media (min-width: $screen-xxl) {
        max-width: 556px;
      }
    }
    &.info-portfolio {
      @media (min-width: $screen-md) {
        max-width: 370px;
      }
      @media (min-width: $screen-xxl) {
        max-width: 700px;
      }
    }
  }
  &__footer {
    flex-shrink: 0;

    @media (max-width: ($screen-md - 1)) {
      margin-bottom: 100px;
    }
  }
  &__title {
    font-weight: bold;
    font-size: 46px;
    line-height: 60px;
    color: #67757F;
    motion: 0;
    @media (min-width: $screen-md) {
      font-size: 60px;
      line-height: 68px;
    }
    @media (min-width: $screen-xxl) {
      font-size: 90px;
      line-height: 100px;
    }
  }
  &__text {
    color: #67757F;
    p {
      font-weight: bold;
      font-size: 14px;
      line-height: 20px;
      margin-top: 30px;

      @media (min-width: $screen-md) {
        font-size: 18px;
        line-height: 24px;
        margin-top: 30px;
      }
      @media (min-width: $screen-xxl) {
        font-size: 24px;
        line-height: 32px;
        margin-top: 40px;
      }
    }
  }
}
