// В этом файле должны быть стили для БЭМ-блока services, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services {

  $block-name:                &; // #{$block-name}__element

  padding: 40px 0;
  background: #82C5E1;
  
  @media (min-width: $screen-md) {
    padding: 80px 0;
    background: #fff;
  }

  &__list {
    list-style: none;
    @media (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      margin-left: -10px;
      margin-right: -10px;
    }

    .slick-dots li.slick-active button {
      background: #fff;
    }
  }

  &__item {

    @media (min-width: $screen-md) {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 30px;
      flex: 0 0 50%;
      max-width: 50%;
    }
    @media (min-width: $screen-xl) {
      flex: 0 0 25%;
      max-width: 25%;
    }
  }
}
