// В этом файле должны быть стили для БЭМ-блока services-card, его элементов, 
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.services-card {

  $block-name:                &; // #{$block-name}__element

  height: 100%;
  background: #82C5E1;
  color: #fff;
  padding: 40px;
  cursor: pointer;
  
  @media (min-width: $screen-md) {
    transition: all 0.3s;
    &:hover {
      background: #FFEE32;
      color: #67757F;
    }
  }

  &__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 40px;
  }
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      margin-bottom: 20px;
      span {
        display: block;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
}
